<div class="flex items-center gap-3">
  <input
    #priceInput
    type="text"
    inputmode="decimal"
    appInput size="xs" bordered
    class="w-[60px]"
    [value]="focused() ? priceInput.value : itemPrice()"
    (focus)="onFocus(priceInput)"
    (blur)="onBlur(priceInput)"
    (keydown.enter)="priceInput.blur()"
  />
  @if (hasShopPrice()) {
    <div
      class="text-white text-lg cursor-pointer"
      (click)="openShopPicker()"
      tp="Выбрать цену из магазина"
      tpPlacement="bottom"
    >
      <app-shop-icon />
    </div>
  }
</div>
