<app-card class="w-full">
  <span card-title>Настройки цен</span>
  <ng-container [formGroup]="form">
    <app-form-field label="Цена за 1000 калорий">
      <input type="text" appInput size="sm" bordered [error]="form.controls.caloriesCost.invalid" class="w-32" formControlName="caloriesCost">
    </app-form-field>
    <app-form-field label="% Прибыли">
      <input type="text" appInput size="sm" bordered [error]="form.controls.margin.invalid" class="w-32" formControlName="margin">
    </app-form-field>
  </ng-container>
</app-card>
