<app-form-field [label]="skill().skill">
  <select class="select select-bordered w-14 max-w-xs select-sm" [value]="skill().level" (change)="changeLevel(+$any($event.target).value)">
    <option [value]="1">1</option>
    <option [value]="2">2</option>
    <option [value]="3">3</option>
    <option [value]="4">4</option>
    <option [value]="5">5</option>
    <option [value]="6">6</option>
    <option [value]="7">7</option>
  </select>
</app-form-field>
@if(skill().level >= 6) {
  <app-form-field label="Чистое рабочее место">
    <input type="checkbox" appToggle [checked]="skill().lavish" (change)="changeLavish($any($event.target).checked)" />
  </app-form-field>
}
