<app-form-field [label]="skill().skill">
  <select class="select select-bordered w-14 max-w-xs select-sm" [ngModel]="skill().level" (ngModelChange)="changeLevel($event)">
    <option [value]="1">1</option>
    <option [value]="2">2</option>
    <option [value]="3">3</option>
    <option [value]="4">4</option>
    <option [value]="5">5</option>
    <option [value]="6">6</option>
    <option [value]="7">7</option>
  </select>
</app-form-field>
@if(skill().level >= 6) {
  <app-form-field label="Чистое рабочее место">
    <input type="checkbox" appToggle [ngModel]="skill().lavish" (ngModelChange)="changeLavish($event)" />
  </app-form-field>
}
