<div class="flex gap-4">
  <app-form-field label="Количество крафтов:">
    <app-button-group [(value)]="craftAmount" [options]="[1, 10, 100]" size="sm" />
  </app-form-field>
  <app-form-field label="Модуль:">
    <app-button-group [(value)]="module" [options]="[0, 1, 2, 3, 4, 5]" size="sm" />
  </app-form-field>
  <app-form-field label="&nbsp;">
    <div class="flex items-center h-8 gap-2">
      <input
        type="checkbox"
        appToggle
        checked="checked"
        [ngModel]="lavish()"
        (ngModelChange)="lavish.set($event)"
      />
      <span>Чистое рабочее место</span>
    </div>
  </app-form-field>
  <app-form-field label="Уровень профессии:">
    <ng-select [ngModel]="level()" (ngModelChange)="level.set($event)" [clearable]="false">
      <ng-option [value]="1">Уровень 1</ng-option>
      <ng-option [value]="2">Уровень 2</ng-option>
      <ng-option [value]="3">Уровень 3</ng-option>
      <ng-option [value]="4">Уровень 4</ng-option>
      <ng-option [value]="5">Уровень 5</ng-option>
      <ng-option [value]="6">Уровень 6</ng-option>
      <ng-option [value]="7">Уровень 7</ng-option>
    </ng-select>
  </app-form-field>
</div>

<div class="rounded border border-base-300 mt-4 shadow-sm">
  <table appTable>
    <thead>
      <tr>
        <th>Ингридиент</th>
        <th class="w-[140px]">Кол-во</th>
        <th>Цена</th>
        <th>Цена за единицу</th>
        <th>Общая сумма</th>
      </tr>
    </thead>
    <tbody>
      @for (ingredient of recipe().ingredients; track ingredient.name + ingredient.tag) {
        <tr>
          <td>
            @if (ingredient.name) {
              <app-product-link [product]="ingredient.name" [static]="ingredient.isStatic" />
            } @else {
              <app-tag-picker
                [tag]="ingredient.tag"
                [product]="tagOverrides()[ingredient.tag] || null"
                (productChange)="changeTagOverride($event, ingredient.tag)"
                [static]="ingredient.isStatic"
              ></app-tag-picker>
            }
          </td>
          <td>{{ calculations().ingredients[ingredient.name || getOverrideForTag(ingredient.tag)].quantity }}</td>
          <td>
            <app-ingredient-price [item]="ingredient.name || getOverrideForTag(ingredient.tag)" />
          </td>
          <td>
            {{
              calculations().ingredients[ingredient.name || getOverrideForTag(ingredient.tag)].price | number: "0.0-2"
            }}
          </td>
          <td>
            {{
              calculations().ingredients[ingredient.name || getOverrideForTag(ingredient.tag)].totalPrice
                | number: "0.0-2"
            }}
          </td>
        </tr>
      }
      <tr>
        <td>Калории</td>
        <td>
          {{ recipe().laborCost * craftAmount() }} <br />
          <span appBadge size="sm">{{ caloriesCount() }} калорий</span>
        </td>
        <td>
          <app-ingredient-price tp="Цена за 1000 калорий" tpPlacement="bottom-start" item="calories" />
        </td>
        <td>{{ calculations().caloriesCost | number: "0.0-2" }}</td>
        <td>{{ calculations().totalCaloriesCost | number: "0.0-2" }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="rounded border border-base-300 mt-4 shadow-sm">
  <div class="px-2">
    <p class="mt-2">Общая стоимость ингридиентов: {{ calculations().totalRecipeCost | number: "0.0-2" }}</p>
    <app-form-field label="Процент прибыли:">
      <app-button-group [(value)]="margin" [options]="marginOptions" size="sm" />
    </app-form-field>
  </div>
  <table appTable>
    <thead>
      <tr>
        <th>Ингридиент</th>
        <th>Кол-во</th>
        <th>Себестоимость (за единицу)</th>
        <th>Цена с наценкой (за единицу)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (product of recipe().products; track product.name) {
        <tr>
          <td>
            <app-product-link [product]="product.name" />
          </td>
          <td>{{ calculations().products[product.name].quantity | number: "0.0-2" }}</td>
          <td>
            @if (priceOverride()[product.name]?.overrided !== true) {
              <button
                appButton
                intent="outline"
                size="xs"
                tpPlacement="bottom"
                [tp]="
                  calculations().products[product.name].isReturn
                    ? 'Цена статическая, товар возвращается обратно'
                    : 'Скопировать'
                "
                [active]="!calculations().products[product.name].isReturn"
                (click)="copy(product.name, 'price')"
              >
                {{ calculations().products[product.name].price | number: "0.0-2" }}
              </button>
              <button
                appButton
                intent="link"
                size="xs"
                (click)="editPrice(product.name)"
                tpPlacement="bottom"
                tp="Нажмите если знаете точную стоимость товара для более точного расчета."
              >
                изменить
              </button>
            } @else {
              <app-ingredient-price
                [updateStrategy]="false"
                [item]="product.name"
                [price]="priceOverride()[product.name]?.price ?? 0"
                (priceUpdated)="overridePrice(product.name, $event)"
              />
              <button
                appButton
                intent="link"
                size="xs"
                (click)="cancelOverride(product.name)"
                tpPlacement="bottom"
                tp="Нажмите если хотите отменить ручную цену"
              >
                отменить
              </button>
            }
          </td>
          <td>
            <button
              appButton
              intent="outline"
              size="xs"
              tpPlacement="bottom"
              [tp]="
                calculations().products[product.name].isReturn
                  ? 'Цена статическая, товар возвращается обратно'
                  : 'Скопировать'
              "
              [active]="!calculations().products[product.name].isReturn"
              (click)="copy(product.name, 'marginPrice')"
            >
              {{ calculations().products[product.name].marginPrice | number: "0.0-2" }}
            </button>
          </td>
          <td>
            @if (!calculations().products[product.name].isReturn) {
              <div class="space-x-2">
                <button appButton intent="outline" size="xs" (click)="savePrices(product.name, false)">
                  Сохранить
                </button>
                <button appButton intent="outline" size="xs" (click)="savePrices(product.name, true)">
                  Сохранить и закрыть
                </button>
              </div>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
