<div class="px-4 pb-4">
  <app-card [shadow]="false">
    <span card-title>Список предложений</span>
    <div class="flex gap-4 items-center">
      <input appInput bordered type="text" class="flex-1" placeholder="Поиск по товару" [(ngModel)]="search" />
      <label class="label cursor-pointer gap-2">
        <input type="checkbox" appToggle [(ngModel)]="onlyAvailable" />
        <span class="text-sm">Только доступные</span>
      </label>
    </div>
    @for (item of filteredOfferItems() | slice: 0 : itemsToShow(); track item) {
      <app-offer [item]="item" [onlyAvailable]="onlyAvailable()" />
    }
    <div #scrollTrigger></div>
  </app-card>
</div>
